*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

header nav{
    height: 100px;
}

ul{
    list-style-type: none;
    justify-content: space-between;
}

.down-arrow{
    font-size: 4rem;
}

.space-between li{
    padding-inline: 10px;
    margin-top: 40px;
}



.header-li a{
    text-decoration: none;
    color: black;
}

.space-between{
    justify-content: space-between;
}

.standard{
    width:80%;
    margin:auto;
}

.jumbotron{
    background-color:orange;

}

.flex-column{
    flex-direction: column;
}


h1{
    font-size: 6rem;
}

.immagine{
    height:400px;

    position: relative;
    width:70%;
    top:100px;
}

.immagine img{
    width: 80%;
    position: relative;
    top:-120px;

}

.jumb-col{
    width:30%;
    top:100px;
    position: relative;
}


h2{
    margin-top: 17%;
    font-size: 3rem;
}


.column-container{
    width:22%;
    border: 2px solid rgb(0, 0, 0);
    height: 800px;
}

.text-center{
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

.padding-left{
    margin-left:5%;
}

.column-l-container{
    flex-direction: column;
}

.card-title{
    font-size: 1.5rem;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 8%;
}

button{
    background-color: #0061ff;
    height: 30px;
    margin-left: 45px;
    color: white;
    
    
    
}

.padding{
    padding: 3%;
    padding-left: 8%;
}

.margin-top-c{
    margin-top: 8%;
}

.margin-top-p{
    margin-top:3%;
}


.horizontal-card{
    border: solid 1px grey;
    margin-top: 5%;
}

.class-70{
    width:70%;
}

.class-30{
    width:30%;
    margin-left: 4%;
}

.class-50{
    width:50%;
    margin-left: 2%;
}

.enterprise{
    font-size: 1.5rem;
    padding-left: 8%;
}

.team{
    border-bottom: solid 1px grey;
    padding: 1%;
    text-align: center;
}

div.partner-img img{
    width: 80%;
    height: 91%;
}
.partner-img{
    width: 100%;
}

div.cards img{
    width: 100%;
}

.cards{
    width: calc(100% / 3 - 3%);
    margin-right: auto;
}

.wrap{
    flex-wrap: wrap;
}

.logo-container{
    width: calc(100vw / 3);
    
}

.square{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
}

.sq-green{
    background-color: #a2d39b;
}

.sq-bordeaux{
    background-color: #60072a;
}

.sq-azzurro{
    background-color: #0093ce;
}

.sq-red{
    background-color: #ff1c1c;
}

.sq-dark-red{
    background-color: #d5001f;
}

.sq-celeste{
    background-color: #b4d0e7;
}

.sq-blue{
    background-color: #0d2481;
}

.sq-yellow{
    background-color: #ffd830;
}


div.square img{
    width:60%;
    filter:invert(1);
}

.hr-rotto{
    margin-top: 3%;
    margin-left:8%;
    margin-right: 80%;
    opacity: 70%;
}

.designit{
    font-size: 3rem;
    padding-left: 8%;
    margin-top: 10%;
}

.bg-azzurro{
    background-color: #b4d0e7;
}

.space-around{
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
}

.brown{
    color: #60072a;
}

.pd-domande{
    padding-top: 3%;
    padding-bottom: 3%;
}

.bg-black{
    background-color: black;
}

.text-white{
    color: white;
    
}

.padding-ft{
    padding-top: 15%;
}

.big{
    font-size: 1.5rem;
    padding-bottom: 5%;
}

.width-ft{
    width: calc(100 / 5 - 5%);
}

.ft-container{
    justify-content: space-evenly;
    padding-top: 8%;
}

footer{
    margin-top: 20%;
}