*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

header nav{
    height: 100px;
    background-color: blueviolet;
}

ul{
    list-style-type: none;
    justify-content: space-between;
}

.header-li{
    padding-top:10%;
    padding-bottom: 10%;
}

.space-between{
    justify-content: space-between;
}

.standard{
        width:80%;
    margin:auto;
}

.jumbotron{
    background-color:orange;

}

h1{
    font-size: 6rem;
}

.immagine{
    height:400px;
    background-color: brown;
    width:1200px;
    position: relative;
    width:70%;
    top:100px;
}

.jumb-col{
    width:30%;
    top:100px;
    position: relative;
}


h2{
    margin-top: 17%;
    font-size: 3rem;
}


.column-container{
    width:22%;
    border: 2px solid lightblue;
}

.text-center{
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

.column-l-container{
    flex-direction: column;
}

h3{
    font-size: 1.5rem;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 8%;
}

.padding{
    padding:3%;
    padding-left: 8%;
}

.margin-top-c{
    margin-top: 8%;
}

.margin-top-p{
    margin-top:3%;
}